Connected to .venv (Python 3.13.3)

In [ ]:
print(1 + 2 + 3 + 4 + 5 + 6)

21

In [ ]:
print(1 + 2 + 3 + 4 + 5 + 6)


print("Use shift + enter To run code in Jupyter interactive window, this way no need for ipynb")

21
Use shift + enter To run code in Jupyter interactive window, this way no need for ipynb

In [ ]:
data = {
    "Name": ["Jozsi", "Geri"],
    "Tucsok": ["cirip", "zrzZrr"],
    "Ret": ["Mezo", "Erdo", "Tisztas"],
}

In [ ]:
import pandas as pd

In [ ]:
data = {
    "Name": ["Jozsi", "Geri", "Hapci"],
    "Tucsok": ["cirip", "zrzZrr", "prprprr"],
    "Ret": ["Mezo", "Erdo", "Tisztas"],
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head(2)

    Name  Tucsok   Ret
0  Jozsi   cirip  Mezo
1   Geri  zrzZrr  Erdo